[run]
relative_files = True
include =
    backend/users/*.py
    backend/loans/*.py
omit =
    backend/**/migrations/*
    backend/loans/utility/*
    backend/loans/ml_model/*
    */tests.py
    backend/manage.py

[report]
show_missing = True
skip_covered = True

[xml]
output = backend/coverage.xml
