/* .container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
}


.leftSide {
  flex: 1;
  background-image: url("/bank.webp");
  background-size: cover;
  background-position: center;
 
}

.overlay {
  background: rgba(0,0,0,0.5);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
}


.rightSide {
  flex: 1;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.heading {
  margin-bottom: 10px;
}


.primaryBtn {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  background: #6366f1;
  color: white;
  font-size: 16px;
}

.primaryBtn:hover {
  background: purple;
  transition: 0.3s;
}

.secondaryBtn {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  background: blue;
  color: white;
}
.secondaryBtn:hover{
    background-color: darkblue;
    transition: 0.3s;
} */
