/* 
.container {
  min-height: 90vh;
  padding: 40px;
  background: linear-gradient(to right, #eef2f7,);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width : 800px;
  padding-left: 300px;
  padding-right: 300px;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #eef2f7, #d9e4f5);
}

.title {
  text-align: center;
  margin-bottom: 10px;
  color: #1e3a8a;
}

.title h1 {
  font-size: 32px;
  font-weight: 600;
}


.wel {
  text-align: center;
  margin-bottom: 30px;
  color: #374151;
}


.h {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #1f2937;
  border-left: 5px solid #2563eb;
  padding-left: 10px;
}


.prof {
  display: flex;
  justify-content:space-between;
  width: 800px;
  gap: 30px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 40px;
}


.prof p {
  margin: 8px 0;
  font-size: 15px;
  color: #374151;
}

.profd p{
    font-size: larger;  
}


.loan{
  display: flex;
  flex-direction: column;
  background: white;
  width: 800px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 40px;
}


.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}


.btn1{
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-weight: 500;
  border-radius: 8px;
  font-size: large;
  font-weight: bold;
}

.btn1:hover {
  background-color: #1e40af;
  transition: 0.3s;
  transform: translateY(-4px);
  border-radius: 20px;
}


.btn2{
  background-color: #ef4444;
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-weight: 500;
  border-radius: 8px;
  font-size: large;
  font-weight: bold;
}

.btn2:hover {
  background-color: #b91c1c;
  transition: 0.3s;
  transform: translateY(-4px);
  border-radius: 20px;
} 

.shead{
  font-weight: bold;
} */